.inline-form-box {

  &:before {
    content: '';
    height: 10px;
    width: 10px;
    border-top: solid 1px $light-grey;
    border-left: solid 1px $light-grey;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    bottom: 6px;
    background-color: white;
    right: 15px;
  }

  border: solid 1px $light-grey;

  @include x-border-radius(5px);

  padding-left: 28px;
  padding-bottom: 12px;
  margin-top: 25px;

  .form-group {
    border-bottom: none !important;
  }

  p {
    margin-bottom: 10px;
  }

}