
<section id="additional_coverage" class="col-md-12 pad-all-0 renters_coverage coverage-row hidden-xs">
    <header class="clearfix">
        <h2>Renters: Additional Coverage Packages</h2>
        <p>We offer additional coverage packages for your higher value items like flat screen TVs, jewelry, furs, musical instruments and specialty sports equipment.</p>
    </header>


    <table class="table table-striped-expandable col-three ">

    <thead>
    <tr>
        <th>Coverage</th>
        <th>Limits &amp; Deductibles</th>
        <th>Monthly Premium</th>
    </tr>
    </thead>

    <tbody>
    <tr class="expandable" id="rowOne-4">
        <td ng-click="toggler($event, 'row')">
            <div class="expandable-icon">
                <icon type="expand"></icon>
                <icon style="display:none" type="collapse"></icon>
            </div>

            <h4>Electronics</h4>
            <p>This includes additional coverage for high-end electronics such as flat screen TVs, sound systems and cameras.</p>
            <a href="">How much coverage do I need?</a>
        </td>
        <td>
            <div class="styled-select">
                <select>
                    <option>Select</option>
                    <option>$1,000</option>
                    <option>$5,000</option>
                    <option>$10,000</option>
                </select>
            </div>
            <p class="footnote">Base Coverage (already included) $1,000</p>
        </td>
        <td>
            <h4>$0</h4>
        </td>
    </tr>

    <tr class="collapsed-content" data-parent="rowOne-{{price}}-0">
        <td colspan="4">
            <div class="row">
                <div class="col-md-8">
                    <h4>Choosing the right level of coverage</h4>
                    <p>This is an area where the customer could read about scenarios where the different coverages amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                    <ul>
                        <li>Choose $100,000 for lorem ipsum reason</li>
                        <li>$200,000 will protect you for lorem reasons as well</li>
                        <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>People like you choose</h4>

                    <div class="inline">
                        <img src="http://placehold.it/75x75"/>
                        <p><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                    </div>

                </div>
            </div>
        </td>
    </tr>

    <tr class="expandable" id="rowTwo-{{price}}-0">
        <td ng-click="toggler($event, 'row')">
            <div class="expandable-icon">
                <icon type="expand"></icon>
                <icon style="display:none" type="collapse"></icon>
            </div>

            <h4>Luxury Items</h4>
            <p>This includes additional coverage for luxury items like jewelery, furs, designer clothing, art and antiques.</p>
            <a href="">How much coverage do I need?</a>
        </td>
        <td>
            <div class="styled-select">
                <select>
                    <option>Select</option>
                    <option>$1,000</option>
                    <option>$5,000</option>
                    <option>$10,000</option>
                </select>
            </div>
            <p class="footnote">Base Coverage (already included) $1,000</p>
        </td>
        <td>
            <h4>$0</h4>
        </td>
    </tr>

    <tr class="collapsed-content" data-parent="rowTwo-{{price}}-0">
        <td colspan="4">
            <div class="row">
                <div class="col-md-8">
                    <h4>Choosing the right level of coverage</h4>
                    <p>This is an area where the customer could read about scenarios where the different coverages amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                    <ul>
                        <li>Choose $100,000 for lorem ipsum reason</li>
                        <li>$200,000 will protect you for lorem reasons as well</li>
                        <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>People like you choose</h4>

                    <div class="inline">
                        <img src="http://placehold.it/75x75"/>
                        <p><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                    </div>

                </div>
            </div>
        </td>
    </tr>

    <tr class="expandable" id="rowThree-{{price}}-0">
        <td ng-click="toggler($event, 'row')">
            <div class="expandable-icon">
                <icon type="expand"></icon>
                <icon style="display:none" type="collapse"></icon>
            </div>

            <h4>Musical Instruments</h4>
            <p>This includes additional coverage for musical instruments like pianos, guitars, drum sets and any other musical instruments.</p>
            <a href="">How much coverage do I need?</a>
        </td>
        <td>
            <div class="styled-select">
                <select>
                    <option>Select</option>
                    <option>$1,000</option>
                    <option>$5,000</option>
                    <option>$10,000</option>
                </select>
            </div>
            <p class="footnote">Base Coverage (already included) $1,000</p>
        </td>
        <td>
            <h4>$0</h4>
        </td>
    </tr>

    <tr class="collapsed-content" data-parent="rowThree-{{price}}-0">
        <td colspan="4">
            <div class="row">
                <div class="col-md-8">
                    <h4>Choosing the right level of coverage</h4>
                    <p>This is an area where the customer could read about scenarios where the different coverages amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                    <ul>
                        <li>Choose $100,000 for lorem ipsum reason</li>
                        <li>$200,000 will protect you for lorem reasons as well</li>
                        <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>People like you choose</h4>

                    <div class="inline">
                        <img src="http://placehold.it/75x75"/>
                        <p><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                    </div>

                </div>
            </div>
        </td>
    </tr>

    <tr class="expandable" id="rowFour-{{price}}-0">
        <td ng-click="toggler($event, 'row')">
            <div class="expandable-icon">
                <icon type="expand"></icon>
                <icon style="display:none" type="collapse"></icon>
            </div>

            <h4>Sports</h4>
            <p>This includes additional coverage for sporting and recreational equipment like a bike or a kayak.</p>
            <a href="">How much coverage do I need?</a>
        </td>
        <td>
            <div class="styled-select">
                <select>
                    <option>Select</option>
                    <option>$1,000</option>
                    <option>$5,000</option>
                    <option>$10,000</option>
                </select>
            </div>
            <p class="footnote">Base Coverage (already included) $1,000</p>
        </td>
        <td>
            <h4>$0</h4>
        </td>
    </tr>

    <tr class="collapsed-content" data-parent="rowFour-{{price}}-0">
        <td colspan="4">
            <div class="row">
                <div class="col-md-8">
                    <h4>Choosing the right level of coverage</h4>
                    <p>This is an area where the customer could read about scenarios where the different coverages amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                    <ul>
                        <li>Choose $100,000 for lorem ipsum reason</li>
                        <li>$200,000 will protect you for lorem reasons as well</li>
                        <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>People like you choose</h4>

                    <div class="inline">
                        <img src="http://placehold.it/75x75"/>
                        <p><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                    </div>

                </div>
            </div>
        </td>
    </tr>

    </tbody>

    <tfoot class="subtotal">
        <tr>
            <td colspan="2"><h4>Subtotal</h4></td>
            <td><h4>$0.00</h4></td>
        </tr>
    </tfoot>

    </table>

</section>

<!-- expandable region -->
<div class="panel-group visible-xs" id="accordionness">
    <div class="panel-default" ng-click="toggler($event, 'drawer')" data-toggle="collapse" data-parent="#accordionness" href="collapseOne-{{price}}-Q">
        <div class="panel-heading">
            <h4 class="panel-title">
                Additional Coverage Packages
            </h4>

            <div class="expandable-icon pull-right">
                <icon type="expand"></icon>
                <icon style="display:none" type="collapse"></icon>
            </div>

            <p>We offer additional coverage packages for your higher value items like flat screen TVs, jewelry, furs, musical instruments and specialty sports equipment.</p>
        </div>
        <div id="collapseOne-{{price}}-Q" class="collapse in">
            <div class="panel-body">

                <div class="item">

                    <h5>Electronics</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$0</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option>Select</option>
                                <option>$1,000</option>
                                <option>$5,000</option>
                                <option>$10,000</option>
                            </select>
                        </div>

                        <p class="footnote">Base Coverage (already included) $1,000</p>
                    </div>

                </div>

            </div>

            <div class="panel-body">

                <div class="item">

                    <h5>Luxury Items</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$0</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option>Select</option>
                                <option>$1,000</option>
                                <option>$5,000</option>
                                <option>$10,000</option>
                            </select>
                        </div>
                        <p class="footnote">Base Coverage (already included) $1,000</p>
                    </div>

                </div>

            </div>

            <div class="panel-body">

                <div class="item">

                    <h5>Musical Instruments</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$0</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option>Select</option>
                                <option>$1,000</option>
                                <option>$5,000</option>
                                <option>$10,000</option>
                            </select>
                        </div>
                        <p class="footnote">Base Coverage (already included) $1,000</p>
                    </div>

                </div>

            </div>

            <div class="panel-body">

                <div class="item">

                    <h5>Sports</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$0</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option>Select</option>
                                <option>$1,000</option>
                                <option>$5,000</option>
                                <option>$10,000</option>
                            </select>
                        </div>
                        <p class="footnote">Base Coverage (already included) $1,000</p>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>