
<section id="standard_coverage" class="col-md-12 pad-all-0 renters_coverage coverage-row hidden-xs">

<header class="clearfix">
    <h2>Renters: Standard types of coverage</h2>
    <p>The following are the coverage options for you and your property. Customize the below amounts to make sure you have enough coverage for your property and limit your risk.</p>

    <a id="already_covered"><u>What am I already covered for?</u></a>

</header>


<table class="table table-striped-expandable col-three ">

<thead>
<tr>
    <th>Coverage</th>
    <th>Limits &amp; Deductibles</th>
    <th>Monthly Premium</th>
</tr>
</thead>

<tbody>
<tr class="expandable" id="rowOne-{{price}}-5">
    <td ng-click="toggler($event, 'row')">

        <div class="expandable-icon">
            <icon type="expand"></icon>
            <icon style="display:none" type="collapse"></icon>
        </div>

        <h4>Personal Property</h4>
        <p>Protect any items in your home, including furniture, clothing, basic electronics and other personal property.</p>
        <a href="">How much coverage do I need?</a>
    </td>
    <td>
        <div class="styled-select">
            <select>
                <option>$25,000</option>
                <option>$50,000</option>
                <option>$100,000</option>
            </select>
        </div>

        <p class="footnote">Base Coverage (already included) $1,000</p>
    </td>
    <td>
        <h4>$32.91</h4>
    </td>
</tr>

<tr class="collapsed-content" data-parent="rowOne-{{price}}-5">
    <td colspan="4">
        <div class="row">
            <div class="col-md-8">
                <h4>Choosing the right level of coverage</h4>
                <p>This is an area where the customer could read about scenarios where the different coverages amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                <ul>
                    <li>Choose $100,000 for lorem ipsum reason</li>
                    <li>$200,000 will protect you for lorem reasons as well</li>
                    <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>People like you choose</h4>

                <div class="inline">
                    <div class="pull-left">
                        <icon type="pie"></icon>
                    </div>
                    <p class="pull-left"><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                </div>

            </div>
        </div>
    </td>
</tr>

<tr class="expandable" id="rowTwo-{{price}}-5">
    <td ng-click="toggler($event, 'row')">

        <div class="expandable-icon">
            <icon type="expand"></icon>
            <icon style="display:none" type="collapse"></icon>
        </div>

        <h4>Liability</h4>
        <p>Covers you in case you are ever at fault in an incident; protect your assets from a lawsuit.</p>
        <a href="">How do I choose?</a>
    </td>
    <td>
        <div class="styled-select">
            <select>
                <option>$25,000</option>
                <option>$50,000</option>
                <option>$100,000</option>
            </select>
        </div>
        <p class="footnote">Base Coverage (already included) $1,000</p>
    </td>
    <td>
        <h4>$18.16</h4>
    </td>
</tr>

<tr class="collapsed-content" data-parent="rowTwo-{{price}}-5">
    <td colspan="4">
        <div class="row">
            <div class="col-md-8">
                <h4>Choosing the right level of coverage</h4>
                <p>This is an area where the customer could read about scenarios where the different coverages amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                <ul>
                    <li>Choose $100,000 for lorem ipsum reason</li>
                    <li>$200,000 will protect you for lorem reasons as well</li>
                    <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>People like you choose</h4>

                <div class="inline">
                    <div class="pull-left">
                        <icon type="pie"></icon>
                    </div>
                    <p class="pull-left"><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                </div>

            </div>
        </div>
    </td>
</tr>

<tr class="expandable" id="rowThree-{{price}}-5">
    <td ng-click="toggler($event, 'row')">
        <div class="expandable-icon">
            <icon type="expand"></icon>
            <icon style="display:none" type="collapse"></icon>
        </div>

        <h4>Medical</h4>
        <p>Covers anyone sent to the hospital as a result of an incident.</p>
        <a href="">How much is too much?</a>
    </td>
    <td>
        <div class="styled-select">
            <select>
                <option>$5,000</option>
                <option>$10,000</option>
            </select>
        </div>
        <p class="footnote">Base Coverage (already included) $1,000</p>
    </td>
    <td>
        <h4>$4.51</h4>
    </td>
</tr>

<tr class="collapsed-content" data-parent="rowThree-{{price}}-5">
    <td colspan="4">
        <div class="row">
            <div class="col-md-8">
                <h4>Choosing the right level of coverage</h4>
                <p>This is an area where the customer could read about scenarios where the different coverages amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                <ul>
                    <li>Choose $100,000 for lorem ipsum reason</li>
                    <li>$200,000 will protect you for lorem reasons as well</li>
                    <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>People like you choose</h4>

                <div class="inline">
                    <div class="pull-left">
                        <icon type="pie"></icon>
                    </div>
                    <p class="pull-left"><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                </div>

            </div>
        </div>
    </td>
</tr>

<tr class="expandable" id="rowFour-{{price}}-5">
    <td ng-click="toggler($event, 'row')">

        <div class="expandable-icon">
            <icon type="expand"></icon>
            <icon style="display:none" type="collapse"></icon>
        </div>

        <h4>Deductible</h4>
        <p>A deductible is the amount you have to pay out of pocket in case of an incident.</p>
        <a href="">What is a good deductible?</a>
    </td>
    <td>
        <div class="styled-select">
            <select>
                <option>$2,000</option>
                <option>$5,000</option>
                <option>$10,000</option>
            </select>
        </div>
        <p class="footnote">Base Coverage (already included) $1,000</p>
    </td>
    <td>
        <h4>$10.00</h4>
    </td>
</tr>

<tr class="collapsed-content" data-parent="rowFour-{{price}}-5">
    <td colspan="4">
        <div class="row">
            <div class="col-md-8">
                <h4>Choosing the right level of coverage</h4>
                <p>This is an area where the customer could read about scenarios where the different coverages amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                <ul>
                    <li>Choose $100,000 for lorem ipsum reason</li>
                    <li>$200,000 will protect you for lorem reasons as well</li>
                    <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>People like you choose</h4>

                <div class="inline">
                    <div class="pull-left">
                        <icon type="pie"></icon>
                    </div>
                    <p class="pull-left"><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                </div>

            </div>
        </div>
    </td>
</tr>

</tbody>

<tfoot class="subtotal">
<tr>
    <td colspan="2"><h4>Subtotal</h4></td>
    <td><h4>$0.00</h4></td>
</tr>
</tfoot>

</table>

</section>

<!-- expandable region -->
<div class="panel-group visible-xs" id="accordionness">
    <div class="panel-default" ng-click="toggler($event, 'drawer')" data-toggle="collapse" data-parent="#accordionness" href="collapseOne-{{price}}-T">
        <div class="panel-heading">
            <h4 class="panel-title">
                Standard types of coverage
            </h4>

            <div class="expandable-icon pull-right">
                <icon type="expand"></icon>
                <icon style="display:none" type="collapse"></icon>
            </div>

            <p>The following are the coverage options for you and your property. Customize the below amounts to make sure you have enough coverage for your property and limit your risk.</p>
        </div>
        <div id="collapseOne-{{price}}-T" class="collapse in">
            <div class="panel-body">

                <div class="item">

                    <h5>Personal Property</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$32.91</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option>$5,000</option>
                                <option>$10,000</option>
                            </select>
                        </div>
                        <p class="footnote">Base Coverage (already included) $1,000</p>
                    </div>

                </div>

            </div>

            <div class="panel-body">

                <div class="item">

                    <h5>Liability</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$18.16</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option>$25,000</option>
                                <option>$50,000</option>
                                <option>$100,000</option>
                            </select>
                        </div>
                        <p class="footnote">Base Coverage (already included) $1,000</p>
                    </div>

                </div>

            </div>

            <div class="panel-body">

                <div class="item">

                    <h5>Medical</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$4.51</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option>$5,000</option>
                                <option>$10,000</option>
                            </select>
                        </div>
                        <p class="footnote">Base Coverage (already included) $1,000</p>
                    </div>

                </div>

            </div>

            <div class="panel-body">

                <div class="item">

                    <h5>Deductible</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$0</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option>$5,000</option>
                                <option>$10,000</option>
                            </select>
                        </div>
                        <p class="footnote">Base Coverage (already included) $1,000</p>
                    </div>

                </div>

            </div>

            <div class="panel-body">

                <div class="item subtotal">


                    <h4>Subtotal</h4>
                    <h3>$18.00</h3>

                </div>

            </div>

        </div>
    </div>

</div>