
<section id="additional_coverage" class="col-md-12 pad-all-0 renters_coverage coverage-row hidden-xs">
<header class="clearfix">
    <h2>Coverage for urgent situations</h2>
    <p>While these events are rare, they can be costly. Add coverage against unforseen events for greater peace of mind.</p>
</header>


<table class="table table-striped-expandable col-three ">

<thead>
<tr>
    <th>Coverage</th>
    <th>Limits &amp; Deductibles</th>
    <th>Monthly Premium</th>
</tr>
</thead>

<tbody>
<tr class="expandable"id="rowOne-{{price}}-6">
    <td ng-click="toggler($event, 'row')" >
        <div class="expandable-icon">
            <icon type="expand"></icon>
            <icon style="display:none" type="collapse"></icon>
        </div>

        <h4>Earthquake Coverage</h4>
        <p>Include this coverage if you live in an area prone to earthquakes to protect from damage.</p>
        <a href="">How much coverage do I need?</a>
    </td>
    <td>
        <div class="styled-select">
            <select>
                <option>Select</option>
                <option>$1,000</option>
                <option>$5,000</option>
                <option>$10,000</option>
            </select>
        </div>
        <p class="footnote">Base Coverage (already included) $1,000</p>
    </td>
    <td>
        <h4>$0</h4>
    </td>
</tr>

<tr class="collapsed-content" data-parent="rowOne-{{price}}-6">
    <td colspan="4">
        <div class="row">
            <div class="col-md-8">
                <h4>Choosing the right level of coverage</h4>
                <p>This is an area where the customer could read about scenarios where the different coverages amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                <ul>
                    <li>Choose $100,000 for lorem ipsum reason</li>
                    <li>$200,000 will protect you for lorem reasons as well</li>
                    <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>People like you choose</h4>

                <div class="inline">
                    <img src="http://placehold.it/75x75"/>
                    <p><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                </div>

            </div>
        </div>
    </td>
</tr>

<tr class="expandable" id="rowTwo-{{price}}-6">
    <td ng-click="toggler($event, 'row')">
        <div class="expandable-icon">
            <icon type="expand"></icon>
            <icon style="display:none" type="collapse"></icon>
        </div>

        <h4>Backup of Sewer/Drain/Sump Pump</h4>
        <p>This coverage might be needed for basement apartments or areas prone to sewer backups.</p>
        <a href="">How much coverage do I need?</a>
    </td>
    <td>
        <div class="styled-select">
            <select>
                <option>Select</option>
                <option>$1,000</option>
                <option>$5,000</option>
                <option>$10,000</option>
            </select>
        </div>
    </td>
    <td>
        <h4>$0</h4>
    </td>
</tr>

<tr class="collapsed-content" data-parent="rowTwo-{{price}}-6">
    <td colspan="4">
        <div class="row">
            <div class="col-md-8">
                <h4>Choosing the right level of coverage</h4>
                <p>This is an area where the customer could read about scenarios where the different coverages amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                <ul>
                    <li>Choose $100,000 for lorem ipsum reason</li>
                    <li>$200,000 will protect you for lorem reasons as well</li>
                    <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>People like you choose</h4>

                <div class="inline">
                    <img src="http://placehold.it/75x75"/>
                    <p><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                </div>

            </div>
        </div>
    </td>
</tr>

<tr class="expandable"  id="rowThree-{{price}}-6">
    <td ng-click="toggler($event, 'row')">
        <div class="expandable-icon">
            <icon type="expand"></icon>
            <icon style="display:none" type="collapse"></icon>
        </div>

        <h4>Flood</h4>
        <p>Get protection from the damage caused by flooding. Add this protection if you live in a flood or hurricane zone.</p>
        <a href="">How much coverage do I need?</a>
    </td>
    <td>
        <div class="styled-select">
            <select>
                <option>Select</option>
                <option>$1,000</option>
                <option>$5,000</option>
                <option>$10,000</option>
            </select>
        </div>
    </td>
    <td>
        <h4>$0</h4>
    </td>
</tr>

<tr class="collapsed-content" data-parent="rowThree-{{price}}-6">
    <td colspan="4">
        <div class="row">
            <div class="col-md-8">
                <h4>Choosing the right level of coverage</h4>
                <p>This is an area where the customer could read about scenarios where the different coverages amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                <ul>
                    <li>Choose $100,000 for lorem ipsum reason</li>
                    <li>$200,000 will protect you for lorem reasons as well</li>
                    <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>People like you choose</h4>

                <div class="inline">
                    <img src="http://placehold.it/75x75"/>
                    <p><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                </div>

            </div>
        </div>
    </td>
</tr>

</tbody>

<tfoot class="subtotal">
<tr>
    <td colspan="2"><h4>Subtotal</h4></td>
    <td><h4>$0.00</h4></td>
</tr>
</tfoot>

</table>

</section>

<!-- expandable region -->
<div class="panel-group visible-xs" id="accordionness">
    <div class="panel-default" ng-click="toggler($event, 'drawer')" data-toggle="collapse" data-parent="#accordionness" href="collapseOne-{{price}}-R">
        <div class="panel-heading">
            <h4 class="panel-title">
                Coverage for urgent situations
            </h4>

            <div class="expandable-icon pull-right">
                <icon type="expand"></icon>
                <icon style="display:none" type="collapse"></icon>
            </div>

            <p>While these events are rare, they can be costly. Add coverage against unforseen events for greater peace of mind.</p>

        </div>
        <div id="collapseOne-{{price}}-R" class="collapse in">
            <div class="panel-body">

                <div class="item">

                    <h5>Earthquake Coverage</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$0</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option>Select</option>
                                <option>$1,000</option>
                                <option>$5,000</option>
                                <option>$10,000</option>
                            </select>
                        </div>
                    </div>

                </div>

            </div>

            <div class="panel-body">

                <div class="item">

                    <h5>Backup of Sewer/Drain/Sump Pump</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$0</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option>Select</option>
                                <option>$1,000</option>
                                <option>$5,000</option>
                                <option>$10,000</option>
                            </select>
                        </div>
                    </div>

                </div>

            </div>

            <div class="panel-body">

                <div class="item">

                    <h5>Flood</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$0</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option>Select</option>
                                <option>$1,000</option>
                                <option>$5,000</option>
                                <option>$10,000</option>
                            </select>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>