/* IE9 */
.ie9{
  .footer{
    .contact{
      .col-md-4{
        .input-group{
          .btn{
            margin-left: -8px;
            height: 45px;
            margin-top: -1px;
          }
        }
      }
    }
  }
}