//Ai Design Colors
$light-blue: #f7f7fa;
$mid-blue: #2377c5;
$dark-blue: #123d7d;
$header-blue: #0e3268;

$orange: #fa6e10;
$dark-orange: #be4b00;
$dark-grey: #333;
$light-grey: #eff0f6;
$mid-grey: #797979;
$slate-grey: #616d75;
$rules: #e0e2e6;
$rich-dark-grey: $dark-grey;
$pale-blue: #d5e6f2;
$pale-blue-outline: #b8d2e4;
$button-grey: #9ea4b0;
$button-grey-dark: #747982;
$form-bg: #fafafa;
$form-border: #cfd1d4;
$footer-bg: #eceef0;
$dark-rule: #979da8;
$button-border: #cfd1d4;
$link-underline: #d3e4f3;
$link-underline-dark: #5a99d4;

$header-text-complete: #fff;
$header-text-waiting: #b0cfea;
$green: #77a246;
$progress-green: #c8eb8c;

$expandable-bg: #d5e6f2;
$expandable-border: #aec4d4;

$pale-yellow: #fffdd5;
$pale-yellow-border: #dfda70;
$warning-bg: #fffdd5;
$warning-border: #dfda70;
$success-bg: #eaf5d7;
$success-border: #a9cc6c;
$error-bg: #ffe3e3;
$error-border: #f5bfc2;
$error-red: #d8000c;

//Buttons
$orange-button-start: $orange;
$orange-button-end: #FA6400;
$orange-button-border: $dark-orange;

$dark-blue-button-start: #55688c;
$dark-blue-button-end: #495d84;
$dark-blue-button-border: #374764;

$disabled-button-start: #d0d0d0;
$disabled-button-end: #cecece;
$disabled-button-border: #bfbfbf;
$disabled-button-text: #e8e8e8;

//Fonts
$baseFontSize: 16px;
$frutiger-bold: "FrutigerLTstdBold", "Noto Sans", "Helvetica Neue", "Arial", sans-serif;
$frutiger-reg: "FrutigerLTstdRegular", "Noto Sans", "Helvetica Neue", "Arial", sans-serif;
$frutiger-light: "FrutigerLTstdLight", "Noto Sans", "Helvetica Neue", "Arial", sans-serif;

//units
$page-padding: 100px;


