<table class="table table-striped-expandable col-three hidden-xs mar-all-0 pad-all-0">

<thead>
    <tr>
        <th>Coverage</th>
        <th>Limits</th>
        <th>Monthly Premium</th>
    </tr>
</thead>

<tbody>

<!-- bodily injury liability row -->
<tr class="expandable" ng-click="toggler($event, 'row')" id="rowOne-3">
    <td class="col-md-7">
        <div class="expandable-icon">
            <icon type="expand"></icon>
            <icon style="display:none" type="collapse"></icon>
        </div>

        <h4>Bodily Injury Liability</h4>
        <p>Protect you and any property if you're ever at fault in an accident.</p>
        <a href="#">How much coverage do I need?</a>
    </td>
    <td class="col-md-3">
        <div class="styled-select">
            <select>
                <option value="">$100,000/$300,000</option>
                <option value="">$200,000/$400,000</option>
                <option value="">$250,000/$500,000</option>
            </select>
        </div>
        <p class="footnote">Your current policy is $100,000/$300,000</p>
    </td>
    <td class="col-md-3"><h4>$1,865.30</h4></td>
</tr>
<tr class="collapsed-content" data-parent="rowOne-3">
    <td colspan="4">
        <div class="row">
            <div class="col-md-8">
                <h4>Choosing the right level of coverage</h4>

                <p>This is an area where the customer could read about scenarios where the different coverages
                    amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                <ul>
                    <li>Choose $100,000 for lorem ipsum reason</li>
                    <li>$200,000 will protect you for lorem reasons as well</li>
                    <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>People like you choose</h4>

                <div class="inline">
                    <div class="pull-left">
                        <icon type="pie"></icon>
                    </div>
                    <p class="pull-left"><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                </div>

            </div>
        </div>
    </td>
</tr>
<!-- eo -->

<!-- property damage row -->
<tr class="expandable" ng-click="toggler($event, 'row')" id="rowTwo-3">
    <td class="col-md-7">
        <div class="expandable-icon">
            <icon type="expand"></icon>
            <icon style="display:none" type="collapse"></icon>
        </div>

        <h4>Property Damage</h4>
        <p>Covers you in case you ever hit someone else's property</p>
        <a href="#">How do I choose</a>
    </td>
    <td class="col-md-3">
        <div class="styled-select">
            <select>
                <option value="">$30,000</option>
                <option value="">$50,000</option>
                <option value="">$100,000</option>
            </select>
        </div>
        <p class="footnote">Your current policy is $100,000/$300,000</p>
    </td>
    <td class="col-md-3"><h4>$403.60</h4></td>
</tr>
<tr class="collapsed-content" data-parent="rowTwo-3">
    <td colspan="4">
        <div class="row">
            <div class="col-md-8">
                <h4>Choosing the right level of coverage</h4>

                <p>This is an area where the customer could read about scenarios where the different coverages
                    amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                <ul>
                    <li>Choose $100,000 for lorem ipsum reason</li>
                    <li>$200,000 will protect you for lorem reasons as well</li>
                    <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>People like you choose</h4>

                <div class="inline">
                    <div class="pull-left">
                        <icon type="pie"></icon>
                    </div>
                    <p class="pull-left"><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                </div>

            </div>
        </div>
    </td>
</tr>
<!-- eo -->

<!-- medical expense row -->
<tr class="expandable" ng-click="toggler($event, 'row')" id="rowThree-3">
    <td class="col-md-7">
        <div class="expandable-icon">
            <icon type="expand"></icon>
            <icon style="display:none" type="collapse"></icon>
        </div>

        <h4>Medical Expense</h4>
        <p class="footnote">Covers anyone sent to the hospital as result of an accident</p>
        <a href="#">How much is too much?</a>
    </td>
    <td class="col-md-3">
        <div class="styled-select">
            <select>
                <option value="">$1,000</option>
                <option value="">$2,000</option>
                <option value="">$5,000</option>
            </select>
        </div>
        <p class="footnote">Your current policy is $100,000/$300,000</p>
    </td>
    <td class="col-md-3"><h4>$109.70</h4></td>
</tr>
<tr class="collapsed-content" data-parent="rowThree-3">
    <td colspan="4">
        <div class="row">
            <div class="col-md-8">
                <h4>Choosing the right level of coverage</h4>

                <p>This is an area where the customer could read about scenarios where the different coverages
                    amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                <ul>
                    <li>Choose $100,000 for lorem ipsum reason</li>
                    <li>$200,000 will protect you for lorem reasons as well</li>
                    <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>People like you choose</h4>

                <div class="inline">
                    <div class="pull-left">
                        <icon type="pie"></icon>
                    </div>
                    <p class="pull-left"><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                </div>

            </div>
        </div>
    </td>
</tr>
<!-- eo -->

<!-- uninsured motorist row -->
<tr class="expandable" ng-click="toggler($event, 'row')" id="rowFour-3">
    <td class="col-md-7">
        <div class="expandable-icon">
            <icon type="expand"></icon>
            <icon style="display:none" type="collapse"></icon>
        </div>

        <h4>Uninsured Motorist Bodily Injury</h4>
        <p class="footnote">Be protected in case you are hit without someone with insurance.</p>
        <a href="#">How much coverage do I need?</a>
    </td>
    <td class="col-md-3">
        <div class="styled-select">
            <select>
                <option value="">I decline</option>
                <option value="">I agree</option>
            </select>
        </div>
        <p class="footnote">You don't currently have converage</p>
    </td>
    <td class="col-md-3"><h4>$0</h4></td>
</tr>
<tr class="collapsed-content" data-parent="rowFour-3">
    <td colspan="4">
        <div class="row">
            <div class="col-md-8">
                <h4>Choosing the right level of coverage</h4>

                <p>This is an area where the customer could read about scenarios where the different coverages
                    amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                <ul>
                    <li>Choose $100,000 for lorem ipsum reason</li>
                    <li>$200,000 will protect you for lorem reasons as well</li>
                    <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>People like you choose</h4>

                <div class="inline">
                    <div class="pull-left">
                        <icon type="pie"></icon>
                    </div>
                    <p class="pull-left"><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                </div>

            </div>
        </div>
    </td>
</tr>
<!-- eo -->

</tbody>

<tfoot class="subtotal">
    <tr>
        <td colspan="2"><h4>Subtotal</h4></td>
        <td><h4>$0.00</h4></td>
    </tr>
</tfoot>

</table>

