<table class="table table-striped-expandable col-three hidden-xs col-md-12 pad-all-0">

<thead>
<tr>
    <th class="vehicle-header">
        <img src="assets/images/car_miata.png">
        <h4>2014 Mazda</h4>
        <p>MX-5 Miata Grand Touring</p>
    </th>
    <th>Limits &amp; Deductibles</th>
    <th>Monthly Premium</th>
</tr>
</thead>

<tbody>
<tr class="expandable" ng-click="toggler($event, 'row')" id="rowOne-4">
    <td>
        <div class="expandable-icon">
            <icon type="expand"></icon>
            <icon style="display:none" type="collapse"></icon>
        </div>

        <h4>Comprehensive</h4>
        <p>Protect you and any property if you’re ever at fault in an accident. Leased or financed vehicles require Comprehensive protection.</p>
        <a href="">How much coverage do I need?</a>
    </td>
    <td>
        <div class="styled-select">
            <select>
                <option>I accept</option>
                <option>I decline</option>
            </select>
        </div>
        <p class="footnote">Your current policy is $1,000 deductible</p>
    </td>
    <td>
        <h4>$62.80</h4>
    </td>
</tr>

<tr class="collapsed-content" data-parent="rowOne-4">
    <td colspan="4">
        <div class="row">
            <div class="col-md-8">
                <h4>Choosing the right level of coverage</h4>
                <p>This is an area where the customer could read about scenarios where the different coverages amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                <ul>
                    <li>Choose $100,000 for lorem ipsum reason</li>
                    <li>$200,000 will protect you for lorem reasons as well</li>
                    <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>People like you choose</h4>

                <div class="inline">
                    <div class="pull-left">
                        <icon type="pie"></icon>
                    </div>
                    <p><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                </div>

            </div>
        </div>
    </td>
</tr>

<tr class="expandable" ng-click="toggler($event, 'row')" id="rowTwo-4">
    <td>
        <div class="expandable-icon">
            <icon type="expand"></icon>
            <icon style="display:none" type="collapse"></icon>
        </div>

        <h4>Collision</h4>
        <p>Protect you and any property if you’re ever at fault in an accident. Leased or financed vehicles require Comprehensive protection.</p>
        <a href="">How much coverage do I need?</a>
    </td>
    <td>
        <div class="styled-select">
            <select>
                <option>I accept</option>
                <option>I decline</option>
            </select>
        </div>
        <p class="footnote">Your current policy is $2,500 deductible</p>
    </td>
    <td>
        <h4>$118.50</h4>
    </td>
</tr>

<tr class="collapsed-content" data-parent="rowTwo-4">
    <td colspan="4">
        <div class="row">
            <div class="col-md-8">
                <h4>Choosing the right level of coverage</h4>
                <p>This is an area where the customer could read about scenarios where the different coverages amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                <ul>
                    <li>Choose $100,000 for lorem ipsum reason</li>
                    <li>$200,000 will protect you for lorem reasons as well</li>
                    <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>People like you choose</h4>

                <div class="inline">
                    <div class="pull-left">
                        <icon type="pie"></icon>
                    </div>
                    <p><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                </div>

            </div>
        </div>
    </td>
</tr>

<tr class="expandable" ng-click="toggler($event, 'row')" id="rowThree-4">
    <td>
        <div class="expandable-icon">
            <icon type="expand"></icon>
            <icon style="display:none" type="collapse"></icon>
        </div>

        <h4>Towing</h4>
        <p>Get towing assistance in case of breakdown.</p>
        <a href="">How much coverage do I need?</a>
    </td>
    <td>
        <div class="styled-select">
            <select>
                <option>I accept</option>
                <option>I decline</option>
            </select>
        </div>
        <p class="footnote">Your current policy is $1,000 deductible</p>
    </td>
    <td>
        <h4>$20.00</h4>
    </td>
</tr>

<tr class="collapsed-content" data-parent="rowThree-4">
    <td colspan="4">
        <div class="row">
            <div class="col-md-8">
                <h4>Choosing the right level of coverage</h4>
                <p>This is an area where the customer could read about scenarios where the different coverages amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                <ul>
                    <li>Choose $100,000 for lorem ipsum reason</li>
                    <li>$200,000 will protect you for lorem reasons as well</li>
                    <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>People like you choose</h4>

                <div class="inline">
                    <div class="pull-left">
                        <icon type="pie"></icon>
                    </div>
                    <p><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                </div>

            </div>
        </div>
    </td>
</tr>

<tr class="expandable inactive" ng-click="toggler($event, 'row')" id="rowFour-4">
    <td>
        <div class="expandable-icon">
            <icon type="expand"></icon>
            <icon style="display:none" type="collapse"></icon>
        </div>

        <h4>Car Rental (per day/total)</h4>
        <p>Get a rental car whenever your car is out for repairs.</p>
        <a href="">How much coverage do I need?</a>
    </td>
    <td>
        <div class="styled-select">
            <select>
                <option>$30/day, $900 max</option>
                <option>$50/day, $1200 max</option>
            </select>
        </div>
        <p class="footnote">Your current policy is $1,000 deductible</p>
    </td>
    <td>
        <h4>$11.70</h4>
    </td>
</tr>

<tr class="collapsed-content inactive" data-parent="rowFour-4">
    <td colspan="4">
        <div class="row">
            <div class="col-md-8">
                <h4>Choosing the right level of coverage</h4>
                <p>This is an area where the customer could read about scenarios where the different coverages amounts are important. Ullam velit odio, vehicula eu auctor ut, volutpat sed turpis.</p>
                <ul>
                    <li>Choose $100,000 for lorem ipsum reason</li>
                    <li>$200,000 will protect you for lorem reasons as well</li>
                    <li>To ensure the best safety choose $300,000 lorem ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>People like you choose</h4>

                <div class="inline">
                    <div class="pull-left">
                        <icon type="pie"></icon>
                    </div>
                    <p><strong>80%</strong> of people with your same car choose $100,00/$200,000</p>
                </div>

            </div>
        </div>
    </td>
</tr>

</tbody>

</table>

<!-- expandable region -->
<div class="panel-group visible-xs" id="accordionness">
    <div class="panel-default" ng-click="toggler($event, 'drawer')" data-toggle="collapse" data-parent="#accordionness" href="collapseOne-R">
        <div class="panel-heading">
            <h4 class="panel-title">
                Your liability coverage
            </h4>

            <div class="expandable-icon pull-right">
                <icon type="expand"></icon>
                <icon style="display:none" type="collapse"></icon>
            </div>

            <p>These coverages protect you and your assets if you are in an accident.</p>
        </div>
        <div id="collapseOne-R" class="collapse in">
            <div class="panel-body">

                <div class="item">

                    <h5>Bodily Injury Liability</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$865.30</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option value="">$100,000/$300,000</option>
                                <option value="">$200,000/$400,000</option>
                                <option value="">$250,000/$500,000</option>
                            </select>
                        </div>
                        <p class="footnote">Your current policy is $100,000/$300,000</p>
                    </div>

                </div>

            </div>

            <div class="panel-body">

                <div class="item">

                    <h5>Property Damage</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$865.30</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option>$403.60</option>
                            </select>
                        </div>
                        <p class="footnote">Your current policy is $50,000</p>
                    </div>

                </div>

            </div>

            <div class="panel-body">

                <div class="item">

                    <h5>Medical Expense</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$109.70</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option>$10,000</option>
                                <option>$20,000</option>
                                <option>$30,000</option>
                            </select>
                        </div>
                        <p class="footnote">Your current policy is $12,000</p>
                    </div>

                </div>

            </div>

            <div class="panel-body">

                <div class="item">

                    <h5>Uninsured Motorist Bodily Injury</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$0</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option value="">I decline</option>
                                <option value="">I agree</option>
                            </select>
                        </div>
                        <p class="footnote">You currently don't have coverage</p>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="panel-default">
        <div class="panel-heading" ng-click="toggler($event, 'drawer')" data-toggle="collapse" data-parent="#accordionness" href="collapseTwo-R">
            <h4 class="panel-title">
                Your vehicle coverage
            </h4>

            <div class="expandable-icon pull-right">
                <icon type="expand"></icon>
                <icon style="display:none" type="collapse"></icon>
            </div>

            <p>These coverages protect you and your assets if you are in an accident.</p>
        </div>

        <div id="collapseTwo-R" class="collapse">
            <div class="panel-body">

                <div class="item">

                    <h5>Comprehensive</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$0</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                        <option value="">I decline</option>
                        <option value="">I agree</option>
                        </select>
                        </div>
                        <p class="footnote">Your current policly is $1,000 deductible</p>
                    </div>

                </div>

            </div>

            <div class="panel-body inactive">

                <div class="item">

                    <h5>Towing</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$0</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option value="">I decline</option>
                                <option value="">I agree</option>
                            </select>
                        </div>
                        <p class="footnote">You current policy has towing</p>
                    </div>

                </div>

            </div>

            <div class="panel-body inactive">

                <div class="item">

                    <h5>Car Rental (per day/total)</h5>
                    <icon class="inline" type="help" data-toggle="modal" data-target="#mobileModal"></icon>
                    <span class="price">$0</span>

                    <div class="full clearfix">
                        <div class="styled-select">
                            <select>
                                <option value="">I decline</option>
                                <option value="">I agree</option>
                            </select>
                        </div>
                        <p class="footnote">Your current policy is $30/day, $900 max</p>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="panel-default">

        <div class="panel-heading" ng-click="toggler($event, 'drawer')" data-toggle="collapse" data-parent="#accordionness" href="collapseThree-R">
            <h4 class="panel-title">
                2014 Mazda <span class="light">MX-5 Miata Grand Touring</span>
            </h4>

            <div class="expandable-icon pull-right">
                <icon type="expand"></icon>
                <icon style="display:none" type="collapse"></icon>
            </div>

            <p>These coverages protect you and your assets if you are in an accident.</p>
        </div>

        <div id="collapseThree-R" class="collapse">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>

    </div>
</div>