@media screen and (min-width: 1200px) {
  #header_internal {
    width: 1157px;

    .header_internal_wrapper {
      width: 1454px;
    }
  }

  div.inner-page-message {

    .details-header {
      width: 1157px;
    }
  }

  .container, .footer .container, .global-message .message-wrapper {
    width: 1157px;
  }

}